.git
.github
.vs

**/bin
**/obj
**/publish

**/node_modules
**/dist

**/appsettings.Development.json
**/appsettings.*.local.json

**/.env
**/.env.*
!**/.env.example

**/*.user
**/*.suo

**/*.log
logs

**/*.pfx
**/*.p12
**/*.pem
**/*.key

tasktracker-client
